.Welcome {
    height: 100%;
    .intro-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 70%;
        vertical-align: middle;
    }

    .intro-container {
        display: flex;
        flex-direction: row;
        width: 60%;
        height: 100%;
        border: 2px solid #000;
        .left-column {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;            
            .image-container {
                margin-top: 1em;
                margin-bottom: 1em;
                .my-picture {
                    width: 300px;
                    height: 400px;
                    border: 1px solid #fff;
                    border-radius: 4px;
                    padding: 1em;
                }
            }
        }
        .right-column {
            display: flex;
            justify-content: center;
            align-items: center;
            .note {
                text-align: center;
                width: 350px;
                height: 350px;
                background-color: #f5c193;
                position: absolute;
                box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
            }
            .note:nth-child(2) {
                margin-top: 2em;
                margin-left: 4em;
                background-color: #f0e4c9;
            }
            .note:nth-child(3) {
                margin-top: 4em;
                margin-left: 8em;
                background-color: #e89d95;
            }
        }
        .subtext {
            font-size: larger;
        }
    }

    .main-container {
        margin-top: 2em;
        padding: 1em;
        display: flex;
        flex-direction: row;
        width: 85%;
        height: 100%;
        border: 2px solid #000;
        .proficiencies-container {
            margin-left: 1em;
            width: 70%;
            height: 30%;
            background-color: #f2ae99;
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
        }
        .resume-container {
            margin-top: 1em;
            .resume {
                height: 500px;
                width: 100%;
            }
        }
    }

    .projects-container {
        margin-top: 2em;
        padding: 1em;
        display: flex;
        flex-direction: column;
        width: 85%;
        height: 100%;
        border: 2px solid #000;
        text-align: center;
    }
   
}
